/* ============================== */
/* Common CSS */
/* Common CSS */
/* ============================== */

*{
    /* border: 1px solid white; */
}

body{
    color: #666666;
    font-family: Georgia, sans-serif;
    font-size: 16px;
    line-height: 1.5em;  /* Standard line-height */
    box-sizing: border-box;
    margin: 0 auto;
    /* background-color: beige; */
}

.container{
    margin: 0 auto;
    max-width: 960px;
    width: 96%;
}

img{
    max-width: 100%;
    height: auto;
}

.alignleft{
    float: left;
    /* margin-left: 15px; */
    margin-right: 40px;
    margin-bottom: 15px;
}

.aligncenter{
    display: block;
    margin: 0 auto 15px;
}



/* ============================== */
/* HEADER Section */
/* HEADER Section */
/* ============================== */

.header-area{
    width: 100%;
    clear: both;
    
}

#top-header-area{
    background:#ba2e1f;
    padding: 15px 0;
    width: 100%;
}

.inner-top-header{
    overflow: hidden;
    
}

.mini-menu{
    float: left;
    width: 70%;
    margin-top: 5px;    
}

.mini-menu ul{
    margin: 0 ;
    padding: 0;
    list-style: none;
    text-align: left;
}

.mini-menu ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.mini-menu ul li::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 14px;
    background: #fff;
    top: 6px;
    right: -10px;
}

.mini-menu ul li:last-child::after{
    display: none;
}

.mini-menu ul li a{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

.search-area{
    float: right;
    width: 30%;
}

.search-area form{
    background:#fff;
    border-radius: 25px;
    max-width: 216px;
    width: 96%;
    padding: 2%;
    float: right;
}

.search-area form input{
    border: none;
    width: 75%;
    padding: 1%;
    color: #000;
    float: left;
}

.search-area input[type="submit"]{
   width: 23%;
   background: url(../../img/search.png);
   background-repeat: no-repeat;
   background-position: right;
   cursor: pointer;
}

/* =================================== */
/* Main Header  */
/* =================================== */

#main-header-area{
    width: 100%;
    clear: both;
}

.inner-header{
    overflow: hidden;
    padding: 40px 0;
}

.logo-area{
    float: left;
    width: 240px;
}

.logo-area p{
    margin: 0;
}

.social-area{
    float: right;
    width: 400px;
    margin-top: 1rem;
}

.social-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.social-area ul li{
    display: inline-block;
    margin-left: 15px;
}

.social-area ul li a{
    display: block;
    text-decoration: none;
}

.social-area ul li a i{
    background: #333333;
    color: #fff;
    width: 35px;
    height: 25px;
    padding-top: 8px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
}

.social-area ul li a:hover i{
    background:#ba2e1f ;
    
}

.social-area ul li a:hover i.fa-linkedin-in{
    background: #3D83D9;
}
.social-area ul li a:hover i.fa-twitter{
    background: #00A7FF;
}
.social-area ul li a:hover i.fa-google-plus-g{
    background: #E13719;
}
.social-area ul li a:hover i.fa-pinterest{
    background: #AD060E ;
}
.social-area ul li a:hover i.fa-rss{
    background: #ee802f;
}



/* Teacher Style */

#main-menu{

}

.inner-menu{
    background:#333333;
}

#main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    padding: 10px;
}

#main-menu ul li{
    display: inline-block;
    margin: 0 10px;
    position: relative;
    
}

#main-menu ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
}

#main-menu ul li a:hover{
    color: #ba2e1f;
}


/* Dropdown Style */
/* Dropdown Style */



#main-menu ul ul {
    position: absolute;
    background: #333333;
   width: 180px;
   top: 25px;
   padding: 0;
   display: none;
}

#main-menu ul li:hover ul {
    display: block;
    z-index: 1;
}

#main-menu ul ul li{
    display: block;
    margin: 0;
    padding: 6px 0;
}

#main-menu ul ul ul{
    position: absolute;
    left: 180px;
    top: 0;
    
}

#main-menu ul ul ul li{
    display: block;
    margin: 0;
    padding: 6px 0;
    display: none;
}

#main-menu ul ul li:hover li{
    display: block;
}

/* ============================= */
/* Slider Section */
/* ============================= */

#slider-area{
    /* border: 2px green solid; */
    margin-top: 20px;
}

.item{
    position: relative;
}

.slider-caption{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-caption h1{
    color: #fff;
    font-size: 35px;
}



/* ========================== */
/* Hero Area */
/* ========================== */

#hero-area{

    margin: 0;
    padding: 0;
}

.inner-hero{
  overflow: hidden;
  background: #fff;
}

.inner-hero h2{
    color: #000000;
    font-size: 86px;
    line-height: 1em;
    font-weight: normal;
    margin-bottom: 15px;
}

.inner-hero p{
    color: #333333;
    font-size: 16px;
}

.inner-hero a{
    text-decoration: none;
    float:right ;
    color: #ba2e1f;
    font-size: 16px;
}

.inner-hero a:hover{
    color: #000;
}

/* ================================ */
/* Work Area */
/* ================================ */


#work-area{
    background: #f2f2f2;
    padding: 45px 0;
}

.inner-work{
    overflow: hidden;
}

.column{
    width: 31.8%;
    float: left;
    margin: 0 1% 10px;
}

.column h2{
    color: #333333;
    font-size: 26px;
    font-weight: normal;
}

.column p{
    font-size: 14px;
    color: #878787;
    font-weight: normal;
    
}
.column a{
    font-size: 14px;
    color: #ba2e1f;
    font-weight: normal;
    text-decoration: none;
    clear: both;
    float: right;
    display: inline-block;
}

.column a:hover{
    color: black;
}

.about-area{
   margin-left: 0;
}

.about-area img{
    border: solid 1px #dfdfdf;
    padding: 5px;
    display: block;
    margin-bottom: 15px;

 }


.child-service{
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}

.child-service .service-image{
    float: left;
    width: 25%;
}
.child-service .service-text{
    width: 75%;
    float: right;
}

.child-service .service-text h3{
    margin-top: 0;
    margin-bottom: 5px;
}

.child-service .service-text p{
    margin-top: 0;
    line-height: 1.4em;
}

/*  */

.testimonial-area{
  margin-right: 0;
}

.child-testimonial{
    width: 100%;
    margin-bottom: 15px;
    overflow: hidden;
}

.child-testimonial h3{
    color: #989898;
    font-size: 16px;
    font-weight: bold;
    background-image: url(/img/work3.png);
    background-repeat: no-repeat;
    padding: 15px 0 15px 65px;
}

.child-testimonial h3 span{
    font-weight: normal ;                                                                                 
}

/* Google Font */

.child-testimonial h3 strong{
    font-size: 100px;
}


/* ====================== */
/* Footer Area CSS */
/* ====================== */

#footer-area{
    background: #fff;
    padding: 45px 0;
}

.inner-footer{
    overflow: hidden;
}

.inner-footer .child-footer{
    float: left;
    width: 21%;
    padding: 1%;
    margin: 0 1% 10px;
}

.child-footer h3{
    border-top: 1px solid #666666;
    color: #666666;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 5px;
}

.child-footer h4{
    color: #666666;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
}

.child-footer h4 a{
    text-decoration: none;
    color: #666666;
    float: none;
    
}

.child-footer h6{
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.3em;
}

.child-footer p{
    color: #666666;
    margin-top: 0;
    font-size: 16px;
}

.child-footer p a{
    color: #b92d1f;
    text-decoration: none;
}

.child-blog {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.child-blog a{
    text-decoration: none;
    color: #b92d1f;
    float: right;
}


.child-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.child-footer li{
    display: block;
    border-bottom: 1px #666666 solid;
    padding-bottom: 12px;
}

.child-footer li:last-child{
    border-bottom: 0;
}

.child-footer li a{
    text-decoration: none;
    color: #666666;;
    font-size: 16px;

}

.child-footer li a:hover{
    color: #b92d1f;
}

.child-footer input{
    background: #f2f2f2;
    border: 0px solid;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 5%;
    width: 90%;
}

.child-footer input textarea{
    background: #f2f2f2;
    border: 0px solid;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 5%;
    width: 90%;
}

.child-footer input[type="submit"]{
    width: 80px;
    cursor: pointer;
    color: #b92d1f;
}

.child-footer input[type="submit"]:hover{
    background-color: #b92d1f;
    color: #fff;
}


/* ===================== */
/* Copyright-area */
/* ===================== */

#copyright-area{
    background: #f2f2f2;
    padding: 20px 0;
}

.inner-copyright{
    overflow: hidden;
}

.inner-copyright p{
    margin: 0 ;
    color: #919191;
    font-size: 14px;
}

.left-copyright {
    width: 60%;
    float: left;
}

.right-copyright {
    float: right;
    text-align: right;
}
